@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face { font-family: Serpentine; src: url('Serpentine-Medium.otf'); }
@font-face { font-family: Humanist; src: url('humanist-777.otf'); }

body{
    padding: 0px;
    margin: 0px;
    background-color: #F3F3F5;
    height: 100vh;
    width: 100vw;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

nav{
    display: flex;
    height: 93px;
    align-items: center;
    padding: 12px 30px;
    gap: 156px;
    color: #103460;
    
}

.nav-items{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    font-size: 14px;
}

.nav-items a{
    text-decoration: none;
    color: inherit;
}

.home-images{
    width: 100vw;
}

.banner-home-text{
    position: absolute;
    top: 550px;
    margin-left: 160px;
    color: white;
    font-weight: normal;
    display: flex;
    flex-direction: column;
}

.banner-home-text span{
    font-size: 22px;
}

.banner-home-text-smaller{
    margin-top: 4px;
    font-size: 19px !important;
    
}

.first-divider{
    height: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #05354C;
    
}

.first-divider-first-text{
    width: auto;
    height: 73px;
    line-height: 4px;
    border-right: 1px ;
    border-right-style: solid;
    border-color: rgba(5,53,76,.5);
    padding-right: 30px;
    text-align: right;
    
    
}

.first-divider-second-text{
    padding-left: 30px;
    font-weight: bold;
}

.banner-home-text2{
    position: absolute;
    top: 1502px;
    margin-left: 1000px;
    color: #353538;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.banner-home-text2 span{
    font-size: 22px;
}

.banner-home-text-smaller2{
    margin-top: 4px;
    font-size: 19px !important;
    
}



.second-divider{
    height: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #0E76BC;
    
}

.second-divider-first-text{
    width: auto;
    line-height: 4px;
    border-right: 1px ;
    border-right-style: solid;
    border-color: white;
    padding-right: 30px;
    text-align: right;
    
    
}

.second-divider-second-text{
    padding-left: 30px;
    line-height: 12px;
    font-size: 15px;
}

.second-image{
    background-color: #0E76BC;
}

.third-divider{
    height: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #05354C;
    
}

.third-divider-first-text{
    width: auto;
    height: 73px;
    line-height: 4px;
    border-right: 1px ;
    border-right-style: solid;
    border-color: #05354C;
    padding-right: 30px;
    text-align: right;
    
    
}

.third-divider-second-text{
    padding-left: 30px;
    font-weight: bold;
    line-height: 12px;
}

.home4-div{
    background-color: #343538;

}

footer{
    background-color: #343538;
    color: white;
}

.footer-header{
    padding: 30px 200px;
    
}

.footer-header-items{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}

.footer-header-items a{
    text-decoration: none;
    color: white;
}

.footer-divider{
    background-color: #000205;
    width: 80%;
    align-self: center;
}

.footer-body{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    align-items: center;
}

.logo-branco{
    width: 365px;
    height: 107px;
}

.endereco{
    font-size: 13px;
}

.telefone{
    font-size: 15px;
}

.email{
    font-size: 14px;
}

.copyright{
    color: #939192;
    font-size: 13px;
    padding-bottom: 50px;
    text-align: center;
}